.carousel {
    height: 400px;
}

.carousel .control-arrow {
    min-width: 30px;
}

.carousel .slider-wrapper,
.carousel .slider-wrapper .slider,
.carousel .slider-wrapper .slider .slide,
.carousel img {
    height: 100%;
}

@media (max-width: 576px) {
    .carousel {
        height: 300px;
    }
    .detail-product p {
        font-size: 14px !important;
    }

    .carousel .slider-wrapper .slider .slide {
        min-height: 100px;
    }
}
