.user-profile .cover-image {
    height: 200px;
    width: 100%;
    border: 1px solid #ddd;
    background: white;
}

.user-profile .logo-image {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 1px solid #888;
    background: white;
    border-radius: 50%;
    margin-top: -75px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile .btn-change-cover {
    margin-top: 10px;
    float: right;
    border-radius: 4px;
}

.user-profile .info-panel {
    margin-top: 100px;
}

.user-profile .char-limit {
    display: flex;
    justify-content: flex-end;
    color: #888;
    font-size: 14px;
    margin-top: -4px;
}

.user-profile .info-panel .info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}
.user-profile .info-panel .info-row.-tags {
    align-items: flex-start;
}
.user-profile .info-panel .info-row span {
    min-width: 120px;
}

.user-profile .info-panel .info-row > input {
    min-width: 300px;
    padding: 6px 8px;
}

.user-profile .info-panel .photos-panel {
    width: 100%;
    display: flex;
}

.user-profile .info-panel .photos-panel .photo {
    flex: 1;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    cursor: pointer;
    margin: 8px;
    border: 1px solid var(--colorBorder);
}

.user-profile .company-view .tag-hint {
    width: 420px;
}
.user-profile .company-view .tag-hint label {
    background: #e8e8e8;
    border-radius: 4px;
    margin-right: 6px;
    padding: 2px 6px;
    font-size: 14px;
}

.user-profile .company-view .react-tags {
    width: 420px;
    background: #f9f9f9;
    min-height: 36px;
    border: 1px solid var(--colorBorder);
}
.user-profile .company-view .react-tags__selected-tag {
    background: #ddd;
}

.user-profile .company-view .react-tags__selected-tag:hover {
    background: #ccc;
}
.user-profile .company-view .react-tags__search {
    padding: 4px 2px;
}
