.login-page > form {
	width: 420px;
	background: #fff;
	border-radius: 10px;
	padding: 30px;
}

.login-page > form div {
	margin-bottom: 12px;
}
.login-page span {
	color: var(--colorText);
	text-transform: uppercase;
	display: block;
}

.login-page > form .title {
	font-size: 32px;
	font-weight: 500;
	padding-bottom: 28px;
}

.login-page > form .label {
	font-size: 13px;
	margin-bottom: 12px;
}

.login-page input {
	width: 100%;
	height: 48px;
	font-size: 18px;
}

.login-page .checkbox {
	font-size: 13px;
	color: var(--colorText);
	line-height: 1.4;
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.login-page input[type="checkbox"] {
	display: none;
}

.login-page .checkbox::before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 13px;
	color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid var(--colorBorder);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.login-page a {
	font-size: 13px;
	color: var(--colorText);
}
