.search-form {
    margin: 68px 0 24px 0;
}

.search-form .group-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 14px;
    font-size: 16px;
}
.search-form .group-title i {
    color: var(--colorPrimary);
}

@media (max-width: 576px) {
    .search-form {
        margin: 60px 14px 14px 14px;
        width: 100%;
    }
    .search-form .group-title {
        text-align: center;
        margin-left: 0;
    }
}
