.user-profile .account-view {
	margin-top: 20px;
}

.user-profile .account-view .info-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 14px;
}
.user-profile .account-view .info-row span {
	min-width: 150px;
}

.user-profile .account-view .info-row > input {
	min-width: 300px;
	padding: 6px 8px;
}

.user-profile .account-view input {
	background: white;
}

.user-profile .account-view input:disabled {
	background: #eee;
}
